{# FRR configuration

-#}
{{ content }}
!
router bgp {{ as_number }}
 bgp router-id  {{ router_id }}
 no bgp ebgp-requires-policy
 bgp bestpath as-path multipath-relax
 {% for peer in peers %}
 neighbor {{ peer.neighbor }} remote-as {{ peer.remote_as }}
 {% endfor %}
 address-family ipv4 unicast
  {% for network in networks %}
  network {{ network }}
  {% endfor %}
 exit-address-family
!
line vty
!
end